---
---

@import "{{ site.theme }}";
header{
        h1{
        color:white;
        }        
        h2{
        color:white;
        }
    }
.main-content{
h1{
color:#a52287;
}
h2{
color:#a52287;
}
h3{
color:#a52287;
}
h4{
color:#a52287;
}
h5{
color:#a52287;
}
h6{
color:#a52287;
}
}
.page-header{
    background-color: #a52287;
    background-image: linear-gradient(120deg, #a52287, #a52287);

}